[submodule "sidescroller"]
	path = sidescroller
	url = git@github.com:Vezeena/sidescroller.git
[submodule "Music-Visualiser"]
	path = Music-Visualiser
	url = git@github.com:Vezeena/Music-Visualiser.git
[submodule "theme-park"]
	path = theme-park
	url = git@github.com:Vezeena/theme-park.git
[submodule "Toto"]
	path = Toto
	url = git@github.com:Vezeena/Toto.git
